/* for aos transitions add css and js link and  add aos script at the bottom of html
than add {data-aos="  " } to the div which ones you want to giv animations*/


/* for animation go to the site {"simpleparallax"}
 just add {@import "https://unpkg.com/transition-style"} this link and add {transition-style to any div} */

/* @import "https://unpkg.com/transition-style"; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_div {
    background: var(--bgcolor);
    color: var(--color);
    padding: 1% 0;
}
::-webkit-scrollbar {
    width: 0;
  }
:root {
    --bgcolor: rgb(32, 31, 31);
    --color: white;
}
p {
    word-spacing: 0.1rem;
}
.video_1 {
    max-width: 100%;
    height: auto;
    width: 60%;
}

.main-section {
    height: 60vh;
    display: grid;
    place-content: center;
    position: relative;
    /* text-align: center */
}
.card{
    background-color: var(--bgcolor);
}
/* .main_section_div1{
    text-align: left
} */
.custom-shape-divider-bottom-1702366378 {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702366378 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 141px;
}

.custom-shape-divider-bottom-1702366378 .shape-fill {
    fill: rgb(68, 76, 82);
}

.card-box:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 10px 24px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}
